<!DOCTYPE html>
<html>
    <head>
        <title>your download</title>
        <script type="text/javascript" src="/jquery-3.3.1.min"></script>
    </head>
    <body>
        manifest:
            if(file extension is media type...){stream||download?}else{download}
            
    </body>
</html>